.message {
  max-width: 240px;
  padding: 8px;
  width: fit-content;
}

.message-answer {
  background-color: rgba(246, 251, 251, 0.7); /* 半透明背景 */
  backdrop-filter: blur(10px); /* 背景模糊 */
  border-radius: 8px 8px 8px 0;
}

.message-answer_pending {
  color: green;
}

.message-question {
  background-color: rgba(93, 206, 206, 0.7);
  border-radius: 8px 8px 0px 8px;
  backdrop-filter: blur(10px); /* 背景模糊 */
}
